@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "AeonikRegular";
  src: local("AeonikRegular"),
    url("./fonts/AeonikRegular.otf") format("opentype");
}

@font-face {
  font-family: "AeonikMedium";
  src: local("AeonikMedium"), url("./fonts/AeonikMedium.otf") format("opentype");
}
@font-face {
  font-family: "AeonikLight";
  src: local("AeonikLight"), url("./fonts/AeonikLight.otf") format("opentype");
}
@font-face {
  font-family: "AeonikBold";
  src: local("AeonikBold"), url("./fonts/AeonikBold.otf") format("opentype");
}
